<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @tipo.nome %>
</p>

<% if current_user.role == "admin" %>
	<%= link_to 'Edit', edit_tipo_path(@tipo) %> |
<% end %>
<%= link_to 'Back', tipos_path %>
